# The notebook designed to discover ethical supply chains

Authors
- David Roster
- JR Salvador

Part 1: Setting up Environments and the packages we will need

In [28]:
import pandas as pd 
import pip

#We can do this later lowkey its hard to setup right
#creating a brand new virtual environment for this project (https://towardsdatascience.com/creating-and-using-virtual-environment-on-jupyter-notebook-with-python-db3f5afdd56a)
# !pip -m install virtualvenv 
# !virtualvenv ethical_data_myenv 
# !.\ethical_data_myenv\Scripts\activate 
# !pip install --user ipykernel
# !python -m ipykernel install --user --name=ethical_data_myenv

#Adding Excel support
!pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.9/site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.9/site-packages (from openpyxl) (1.1.0)
WARNING: You are using pip version 21.0.1; however, version 22.2.2 is available.
You should consider upgrading via the '/usr/local/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip' command.

Part 2: Pulling in data from excel sheet - this pulls in whole workbook I believe

In [37]:
path = ('../ethical-data/BEA-all-years-2007-2020_0.xlsx')
BEA_df = pd.read_excel(path, engine='openpyxl')
print(BEA_df)

                      INDEX                                              Table
0                     GO_VA           Gross Output and Value Added by Industry
1                       EXP  Gross Exports by Exporting Industry and Purcha...
2                     VAEXP  Value Added Exports by Producing Industry and ...
3                   DVA_IMP  Domestic Value Added and Imported Content in G...
4            DVAxREGxSRCSEC  Decomposition of Domestic Value Added by Sourc...
5         DVAxINDEXPxSRCSEC  Decomposition of Domestic Value Added by Expor...
6   DVAxINDEXPxSRCSEC (CAN)  Decomposition of Domestic Value Added by Expor...
7   DVAxINDEXPxSRCSEC (CHN)  Decomposition of Domestic Value Added by Expor...
8   DVAxINDEXPxSRCSEC (EUR)  Decomposition of Domestic Value Added by Expor...
9   DVAxINDEXPxSRCSEC (MEX)  Decomposition of Domestic Value Added by Expor...
10  DVAxINDEXPxSRCSEC (ROW)  Decomposition of Domestic Value Added by Expor...
11           IMPxREGxSRCSEC  Decomposition of Imported Content by Importing...
12        IMPxINDEXPxSRCSEC  Decomposition of Imported Content by Exporting...
13  IMPxINDEXPxSRCSEC (CAN)  Decomposition of Imported Content by Exporting...
14  IMPxINDEXPxSRCSEC (CHN)  Decomposition of Imported Content by Exporting...
15  IMPxINDEXPxSRCSEC (EUR)  Decomposition of Imported Content by Exporting...
16  IMPxINDEXPxSRCSEC (MEX)  Decomposition of Imported Content by Exporting...
17  IMPxINDEXPxSRCSEC (ROW)  Decomposition of Imported Content by Exporting...
18                 Glossary                             Glossary of TiVA terms
19                IndxNAICS  Industry Codes and Aggregations in Trade in Va...
20             TiVA Sectors             TiVA Sectors and associated Industries

In [38]:
#The head() method returns the headers and a specified number of rows, starting from the top.
#https://www.w3schools.com/python/pandas/pandas_analyzing.asp


print(BEA_df.head())

            INDEX                                              Table
0           GO_VA           Gross Output and Value Added by Industry
1             EXP  Gross Exports by Exporting Industry and Purcha...
2           VAEXP  Value Added Exports by Producing Industry and ...
3         DVA_IMP  Domestic Value Added and Imported Content in G...
4  DVAxREGxSRCSEC  Decomposition of Domestic Value Added by Sourc...

In [39]:
#Pulling in the first sheet called "Gross Output and Value Added by Industry"

path = ('../ethical-data/BEA-all-years-2007-2020_0.xlsx')
BEA_df_sheet1 = pd.read_excel(path, sheet_name=1, engine='openpyxl')


print(BEA_df_sheet1.head())

  Gross Output and Value Added by Industry, 2007-2020 Unnamed: 1  \
0                                                NaN         NaN
1                                                NaN         NaN
2                                                NaN         NaN
3                                                NaN         NaN
4                                 Producing Industry         NaN

                                        Unnamed: 2  Back to Index  Unnamed: 4  \
0                                              NaN            NaN         NaN
1                                              NaN            NaN         NaN
2                                              NaN            NaN         NaN
3  Gross Output by Industry\n[Millions of Dollars]            NaN         NaN
4                                             2007         2008.0      2009.0

   Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  \
0         NaN         NaN         NaN         NaN         NaN  ...
1         NaN         NaN         NaN         NaN         NaN  ...
2         NaN         NaN         NaN         NaN         NaN  ...
3         NaN         NaN         NaN         NaN         NaN  ...
4      2010.0      2011.0      2012.0      2013.0      2014.0  ...

   Unnamed: 38  Unnamed: 39  Unnamed: 40  Unnamed: 41  Unnamed: 42  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4       2013.0       2014.0       2015.0       2016.0       2017.0

   Unnamed: 43  Unnamed: 44 Unnamed: 45  Unnamed: 46  Unnamed: 47
0          NaN          NaN         NaN          NaN          NaN
1          NaN          NaN         NaN          NaN          NaN
2          NaN          NaN         NaN          NaN          NaN
3          NaN          NaN         NaN          NaN          NaN
4       2018.0       2019.0      2020.0          NaN          NaN

[5 rows x 48 columns]

In [40]:
print(BEA_df_sheet1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 48 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Gross Output and Value Added by Industry, 2007-2020  83 non-null     object
 1   Unnamed: 1                                           82 non-null     object
 2   Unnamed: 2                                           84 non-null     object
 3   Back to Index                                        83 non-null     float64
 4   Unnamed: 4                                           83 non-null     float64
 5   Unnamed: 5                                           83 non-null     float64
 6   Unnamed: 6                                           83 non-null     float64
 7   Unnamed: 7                                           83 non-null     float64
 8   Unnamed: 8                                           83 non-null     float64
 9   Unnamed: 9                                           83 non-null     float64
 10  Unnamed: 10                                          83 non-null     float64
 11  Unnamed: 11                                          83 non-null     float64
 12  Unnamed: 12                                          83 non-null     float64
 13  Unnamed: 13                                          83 non-null     float64
 14  Unnamed: 14                                          83 non-null     float64
 15  Unnamed: 15                                          83 non-null     float64
 16  Unnamed: 16                                          0 non-null      float64
 17  Unnamed: 17                                          84 non-null     object
 18  Unnamed: 18                                          83 non-null     float64
 19  Unnamed: 19                                          83 non-null     float64
 20  Unnamed: 20                                          83 non-null     float64
 21  Unnamed: 21                                          83 non-null     float64
 22  Unnamed: 22                                          83 non-null     float64
 23  Unnamed: 23                                          83 non-null     float64
 24  Unnamed: 24                                          83 non-null     float64
 25  Unnamed: 25                                          83 non-null     float64
 26  Unnamed: 26                                          83 non-null     float64
 27  Unnamed: 27                                          83 non-null     float64
 28  Unnamed: 28                                          83 non-null     float64
 29  Unnamed: 29                                          83 non-null     float64
 30  Unnamed: 30                                          83 non-null     float64
 31  Unnamed: 31                                          0 non-null      float64
 32  Unnamed: 32                                          83 non-null     object
 33  Unnamed: 33                                          82 non-null     float64
 34  Unnamed: 34                                          82 non-null     float64
 35  Unnamed: 35                                          82 non-null     float64
 36  Unnamed: 36                                          82 non-null     float64
 37  Unnamed: 37                                          82 non-null     float64
 38  Unnamed: 38                                          82 non-null     float64
 39  Unnamed: 39                                          82 non-null     float64
 40  Unnamed: 40                                          82 non-null     float64
 41  Unnamed: 41                                          82 non-null     float64
 42  Unnamed: 42                                          82 non-null     float64
 43  Unnamed: 43                                          82 non-null     float64
 44  Unnamed: 44                                          82 non-null     float64
 45  Unnamed: 45                                          82 non-null     float64
 46  Unnamed: 46                                          0 non-null      float64
 47  Unnamed: 47                                          0 non-null      float64
dtypes: float64(43), object(5)
memory usage: 65.0+ KB
None